<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!--<li><strong>{{ site.title }}</strong></li>-->

          <!--<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
          <li>{{ site.email }}</li>
        </ul>
      </div>

      <!--      <div class="footer-col  footer-col-3">
        <p class="text">
        {{ site.description }}
        </p>
        </div>-->

      <div class="footer-col  footer-col-3">
        <p class="text">
          <a href="https://en.wikipedia.org/wiki/GNU_General_Public_License"><img src="/images/Heckert_GNU_white.svg" alt="GPL" style="width:14px;height:14px;"></img></a>
          <a href="https://en.wikipedia.org/wiki/Copyleft"><img src="/images/GreenCopyleft.svg" alt="copyleft" style="width:14px;height:14px;"></img></a>
          2021 Nicolas Vaughan
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            <a href="https://gitlab.com/{{ site.gitlab_username }}">
              <span class="username">https://gitlab.com/{{ site.gitlab_username }}</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>


    </div>

  </div>

</footer>
